<h1><%= @title %></h1>

<% @meetups.each do |meetup| %>
  <div class="meetup">
    <h2><a href="<%= url("/meetups/#{meetup.id}") %>"><%= meetup.name %></a></h2>
    <h3>Location: <%= meetup.location %></h3>
    <%= meetup.description %>
  </div>
<% end %>

<div class="meetup creation">

  <a href="/meetups/create/" class="create-meetup" >Create Meetup</a>

</div>
