<br/>
<div class="meetup">
  <h2><a href="<%= url("/meetups/#{@meetup.id}") %>"><%= @meetup.name %></a></h2>
  <h3>Location: <%= @meetup.location %></h3>
  <%= @meetup.description %>
</div>

<% if @joined == true %>
  <div class="join">
    <form action="<%= url("/meetups/#{@meetup.id}/leave") %>" method="POST">
      <button type="submit" value="submit">Leave Meetup</button>
    </form>
  </div>
<% else %>
   <div class="join">
    <form action="<%= url("/meetups/#{@meetup.id}/join") %>" method="POST">
      <button type="submit" value="submit">Join Meetup</button>
    </form>
  </div>
<% end %>
<div class="member-list">
  <h3>Members:</h3>

  <% @meetup.users.each do |user| %>
    <figure>
    <img src="<%= url("#{user.avatar_url}") %>">
    <figcaption><%= user.username %></figcaption>
    </figure>
  <% end %>
</div>

<div class="comments">
  <h3>Comments </h3>

<% @meetup.comments.order(created_at: :desc).each do |comment| %>
    <figure>
    <p><h4><%= comment.title %></h4><%= comment.body %></p>
    </figure>
  <% end %>

  <% if @joined == true %>
    <form action="<%= url("/meetups/#{@meetup.id}/comment") %>" method="POST">
      <div class="form-element">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
      </div>
      <div class="form-element">
        <label for="body">Body:*</label>
        <textarea type="textarea" id="body" name="body" rows="4" cols="20"></textarea>
      </div class="form-element">
      <div class="form-element">
        <label></label>
        <button type="submit" value="submit">Add Comment</button>
      </div>
    </form>
  <% end %>
</div>
