<br/>
<div class="meetup">
  <h2><a href="<%= url("/meetups/#{@meetup.id}") %>"><%= @meetup.name %></a></h2>
  <h3>Location: <%= @meetup.location %></h3>
  <%= @meetup.description %>
</div>

<div class="member-list">
  <h3>Members:</h3>

  <% @meetup.users.each do |user| %>
    <figure>
    <img src="<%= url("#{user.avatar_url}") %>">
    <figcaption><%= user.username %></figcaption>
    </figure>
  <% end %>
</div>


